* {

  /* Colors */
  --cool-gray: #7c8399;
  --space-cadet-navy: #1c2541;
  --ylnmn-blue: #3a506b;
  --celeste-cyan: #b6f9f8;
  --malachite-green: #51de6b;
  --engineering-orange: #D30000;
  --battlefield-gray: #999999;
  --button-gray: #5d5d5d;

  /* Font Sizes */
  --font-small: 20px;
  --font-medium: 30px;
  --font-large: 60px;
  --font-huge: 120px;

  font-family: "Coda", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Generic */
button {
  cursor: pointer;
  border: 3px solid white;
  border-radius: 30px;
  color: var(--celeste-cyan);
  text-align: left;
  font-size: var(--font-medium);
  background-color: var(--button-gray);
}

p {
  font-size: var(--font-medium);
}

h1, h2 {
  font-size: var(--font-large);
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0px;

  overflow-y: clip;
}

/* Start-Popup */

.start-popup-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.75);
}

.start-popup-screen {
  position: absolute;
  width: 50%;
  height: 50%;
  max-width: 1140px;
  max-height: 670px;
  min-width: 800px;
  min-height: 700px;
  border: 4px solid var(--celeste-cyan);
  border-radius: 35px;
  padding: 0px 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  overflow: scroll;
}

.start-popup-screen-text {
  font-size: var(--font-medium);
  /* line-height: 15px; */
  
}

.start-popup-text-user {
  color: var(--celeste-cyan);
}

.start-popup-text-content {
  color: var(--malachite-green);
}

.start-popup-screen-buttons {
  width: 100%;
}

.start-popup-screen-button {
  width: 100%;
  max-width: 1100px;
  height: 100px;
  margin: 10px 0px;
}

.start-popup-screen-button > p {
  margin-left: 10px;
}


/* Bottom Half of Display */
.bottom-half {
  height: 50%;
  display: flex;
  flex-direction: row;
}

/* Input Component */
.input-container {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #363636;

  text-align: center;
}

.blank-input-container {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #363636;

  text-align: center;
}

.input-container > h1 {
  color: var(--engineering-orange);
  margin: 0px;
}

.input-container > p {
  color: var(--celeste-cyan);
  overflow: scroll;
}

.input-container button {
  padding: 20px;
  margin: 2px;
}

.input-button-container {
  display: flex;
  flex-direction: column;
}