#canvas {
    border: 5px solid black;
    width: 100%;
    height: 50%; /* Adjust the height as needed */
    display: block;
}

.canvas-container {
    overflow: hidden; /* Hide the overflow */
    width: 100%; /* Set the width to 100% of the viewport width */
    height: 50%; /* Set the height to 50% of the viewport height */
    display: block;
}

#player {
    display: none;
}